<div class="listDiv">
    <div class="searchDiv">
        <div class="searchBox">
            <img class="small-icon search-job" src="./Assets/images/job-search.svg"></img>
            <input class="search" id="searchInput" type="text" placeholder="¿Quieres hacer algo?">
        </div>
    </div>
    <div id="workDetails" class="workDetails">
        <div id="recruiterInfo">
            <img id="recruiterImage" class="recruiterImage" src="">
            <p id="recruiterName">Diego Silva</p>
            <img class="starImage" src="./Assets/images/star.svg"><p id="recruiter-starring" class="recruiter-starring">5</p>
            <button id="closeDetails" class="closeDetails">X</button>
        </div>
        <div id="workInfo">
            <p id="workName"></p>
            <p id="workLocation">Su casa</p>
            <p id="workPay">10€</p>
            <br>
            <p id="workLabels">Mecanico,patólogo</p>
            <br>
        </div>
            <img id="workImage" class="workImage" src="">
            <p id="workDesc">Necesito a alguien que pueda acercarse a ver a mis patos, porque creo que estan mal, los veo estornudar o algo parecido.</p>
        <div id="workActions">
            <button id="accept" class="acceptSelectedWork">!Yo lo hago¡</button>
        </div>            
    </div>
    <article class="list" id="jobList">
        <section class="jobCard">
             <img class="jobImage" src="./Assets/images/lavabo.webp">
             <div class="info">
                 <div class="infoUser">
                    <p>Diego Silva Gómez</p>
                    <p>Santa Barbara, Plaza Juan Gómez Bloque 8 Bajo 2</p>
                    <h3 class="price">20€</h3>
                </div>
                <div class="infoJob">
                    <h3>Arreglar la tubería de mi baño</h3>
                    <div class="tags">
                        <ul>
                            <li class="tag">Fontanero</li>
                            <li class="tag">Rápido</li>
                        </ul>
                    </div>
                    <p class="title">Necesito a alguien que me arregle un agujero en la tubería y que sea capaz de soldarlo.</p>
                </div>
             </div>
             <div class="actions">
                 <button class="accept-button">¡Yo lo hago!</button>
             </div>
        </section> 
        <section class="jobCard">
            <img class="jobImage" src="./Assets/images/lavabo.webp">
            <div class="info">
                <div class="infoUser">
                   <p>Diego Silva Gómez</p>
                   <p>Santa Barbara, Plaza Juan Gómez Bloque 8 Bajo 2</p>
                   <h3 class="price">20€</h3>
               </div>
               <div class="infoJob">
                   <h3>Arreglar la tubería de mi baño</h3>
                   <div class="tags">
                       <ul>
                           <li class="tag">Fontanero</li>
                           <li class="tag">Rápido</li>
                       </ul>
                   </div>
                   <p class="title">Necesito a alguien que me arregle un agujero en la tubería y que sea capaz de soldarlo.</p>
               </div>
            </div>
            <div class="actions">
                <button class="accept-button">¡Yo lo hago!</button>
            </div>
       </section>
     </article>
</div>