<article id="login" class="login">
    <div id="loginButtons" class="loginButtons">
        <a id="loginButton">Acceder</a>
        <a id="registerButton">Registrarse</a>
    </div>
    <div class="form">
        <section id="registerForm" class="register invisible">
            <input type="text" id="nick" placeholder="Nick">
            <input type="text" id="name" placeholder="Nombre">
            <input type="text" id="register-email" placeholder="Email">
            <input type="password" id="register-password" placeholder="Contraseña">
            <!-- MAPA -->
            <h1 class="mapHeader">¡Haz click en tu domicilio!</h1><br>
            <div id="mapid"></div>
            <div id="info" class="show">
                <h4 class="mapHeader">¿Confirmas la direccion?</h4><br>
                <div id="locationButtons">
                    <button id='acceptLocation'>Sí, es mi domicilio.</button>
                    <button id='denyLocation'>No.</button>
                </div>
            </div>
            <!--  -->
            <input type="text" id="address" placeholder="Dirección">
            <input type="text" id="bornDate" placeholder="Fecha de nacimiento">
            <canvas id="canvas" width="200" height="200"></canvas>
            <input type="file" id="photo" placeholder="Foto">
            <input type="submit" id="registerSubmit" value="Registrarme">
        </section>
        <section id = loginForm class="login visible">
            <input type="text" id="login-email" placeholder="Email">
            <input type="password" id="login-password" placeholder="Contraseña">
            <button id="loginSubmit">Entrar</button>
        </section> 
    </div>
 </article>