
<article class="list">
    <section class="userProfile">
        <div class="userInfoContainer">
            <p class="name" id="userName">Diego Silva Gómez</p>
            <img class="userImage" src="./Assets/images/IMG-20170306-WA0038.jpg">
            <p class="location" id="userLocation">Málaga, plaza Juan Gómez Juanito Bq8 Bajo 2</p>
        </div> 
        <div class="starring">
            <img src="./Assets/images/star.svg" class="star"><p class="starNumber" id="starNumber">5/5</p>
        </div>
         <div class="info">
             <div class="infoUser">
                <p>Diego Silva Gómez</p>
                <p>Santa Barbara, Plaza Juan Gómez Bloque 8 Bajo 2</p>
                <h3 class="price">20€</h3>
            </div>
            <div class="infoJob">
                <h3>Arreglar la tubería de mi baño</h3>
                <div class="tags">
                    <ul>
                        <li class="tag">Fontanero</li>
                        <li class="tag">Rápido</li>
                    </ul>
                </div>
                <p class="title">Necesito a alguien que me arregle un agujero en la tubería y que sea capaz de soldarlo.</p>
            </div>
         </div>
         <!-- <div class="actions">
             <button class="accept-button">¡Yo lo hago!</button>
         </div> -->
    </section>  
 </article>